{% extends 'about/base.html' %}
{% load static %}
{% block title %}Who we are- Sheffield Hallam University{% endblock %}

{% block about_content %}
<section class="wo-we-are-section">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="font-weight-bold" style="padding: 0.25rem 0.5rem;">Who we are </h1>
            <p style="padding: 0rem 0.5rem;">Founded in 1843 as the Sheffield School of Design, Sheffield Hallam has exercised a powerful impact on the city, region, nation and world. Today we are one of the UK’s largest and most diverse universities: a community of around 37,000 students, 4,500 staff and 295,000 alumni around the world.  </p>

        </div>

        <div class="col-md-12">
            <h2 class="font-weight-bold" style="padding: 0.25rem 0.5rem;">Our students </h2>
            <ul>
                <li>Around 21,500 are undergraduate, 10,500 postgraduate</li>
                <li>Over 50% come from within 30 miles of the university</li>
                <li>Around 18% are international students</li>
                <li>53% of our students are the first in their family to attend university</li>
                <li>24.5% are from low participation neighbourhoods - (national average is 14%)</li>
                <li>In 2020/21, 1,330 new students were enrolled from low participation neighbourhoods - the most of any higher education provider in the country.</li>
                <li>In 2020/21, we enrolled more students in receipt of the Disabled Student Allowance than any other university.</li>
                <li>95% of our graduates are in work or further study fifteen months after graduating. Overall, Hallam ranks 5th in the UK for the overall number of graduates going into highly skilled employment or further study fifteen months after graduating.</li>
            </ul>

        </div>

 
    </div>
</div>
</section>

{% endblock %}
