{% extends 'contact/contact_base.html' %}
{% load static %}
{% block contact_content %}

<div class="container mt-1">
    <div class="card card-primary">
        <div class="card-header">
            <h2 class="card-title">Contact Us</h2>
        </div>
        <div class="card-body">
            <form method="post" id="contactus">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

            <div class="container mt-4">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
          </div>
          
          <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
              <span class="text-muted">University of Excellence &copy; 2024</span>
            </div>
          </footer>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  function getCookies() {
    var cookies = {};
    var cookieString = document.cookie;
    var cookieArray = cookieString.split('; ');

    for (var i = 0; i < cookieArray.length; i++) {
        var cookie = cookieArray[i].split('=');
        var cookieName = cookie[0];
        var cookieValue = decodeURIComponent(cookie[1]);
        cookies[cookieName] = cookieValue;
    }

    return cookies;
}

var csrfToken = getCookies()['csrftoken'];

    $(document).ready(function() {
        $('#contactus').submit(function(event) {
            event.preventDefault();
            
            var formData = {
                'name': $('#name').val(),
                'email': $('#email').val(),
                'subject': $('#subject').val(),
                'message': $('#message').val()
            };

            $.ajax({
                type: 'POST',
                url: 'api/contactus/',
                data: formData,
                dataType: 'json',
                headers: {
                  'X-CSRFToken': csrfToken
                },
                success: function(response) {
                    alert(response.message); 
                    window.location.href=response.redirect_url
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('AJAX error:', xhr.responseText); 
                }
            });
        });
    });
</script>


{% endblock %}
