{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">


    <div class="sidebar">

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    
          <li class="nav-item">
            {% url 'admin_home' as admin_home %}
            <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>

      
          <li class="nav-item">
              {% url 'add_student' as add_student %}
            <a href="{% url 'add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Add Student
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'manage_student' as manage_student %}
              {% url 'edit_student' student_id=id as edit_student %}
            <a href="{% url 'manage_student' %}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                Manage Students
              </p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'student_enquiries' as student_enquiries %}
          <a href="{% url 'student_enquiries' %}" class="nav-link {% if request.path == student_enquiries %} active {% endif %}">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>
              Student Enquiries
            </p>
          </a>
        </li>
     
      

           <li class="nav-item">
             {% url 'student_feedback_message' as student_feedback_message %}
            <a href="{% url 'student_feedback_message' %}" class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
              <i class="nav-icon fas fa-comment-alt"></i>
              <p>
                Student Feedback
              </p>
            </a>
          </li>
       
         
          
          <li class="nav-item">
            {% url 'admin_send_notification_student' as admin_send_notification_student %}
             <a href="{% url 'admin_send_notification_student' %}" class="nav-link {% if request.path == admin_send_notification_student %} active {% endif %}">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Send Student Notification
              </p>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </aside>