{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-image: url('{% static 'dist/img/2.jpg' %}'); background-size: cover;opacity:0.9;">


    <div class="sidebar">

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    
          <li class="nav-item">
            {% url 'admin_home' as admin_home %}
            <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>

      
          <li class="nav-item">
              {% url 'add_student' as add_student %}
            <a href="{% url 'add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Add Student
              </p>
            </a>
          </li>
    

          <li class="nav-item">
            {% url 'add_course' as add_course %}
          <a href="{% url 'add_course' %}" class="nav-link {% if request.path == add_course %} active {% endif %} {% if request.path == add_course %} active {% endif %}">
            <i class="fas fa-book nav-icon"></i>
            <p>
              Add Course
            </p>
          </a>
        </li>

      

        <li class="nav-item">
          {% url 'add_module' as add_module %}
        <a href="{% url 'add_module' %}" class="nav-link {% if request.path == add_module %} active {% endif %} {% if request.path == add_module %} active {% endif %}">
          <i class="fas fa-folder nav-icon"></i>
          <p>
            Add Module
          </p>
        </a>
      </li>
   
      <li class="nav-item has-treeview {% if '/manage_student' in request.path or request.path == '/manage_student' or '/manage_course' in request.path or request.path == '/manage_course' or request.path == student_feedback_message %} menu-open {% endif %}">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-cog"></i>
          <p>
            Management
            <i class="right fas fa-angle-right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview submenu" style="display: {% if '/manage_student' in request.path or request.path == '/manage_student' or '/manage_course' in request.path or request.path == '/manage_course' or request.path == student_feedback_message %} block {% else %} none {% endif %};">
          <li class="nav-item">
            {% url 'manage_student' as manage_student %}
            <a href="{{ manage_student }}" class="nav-link {% if '/manage_student' in request.path or request.path == '/manage_student' %} active text-white bg-primary {% endif %}" >
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                Manage Students
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'manage_course' as manage_course %}
            <a href="{{ manage_course }}" class="nav-link {% if '/manage_course' in request.path or request.path == '/manage_course' %} active text-white bg-primary {% endif %}">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
                Manage Course
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'student_feedback_message' as student_feedback_message %}
            <a href="{{ student_feedback_message }}" class="nav-link {% if request.path == student_feedback_message %} active text-white bg-primary{% endif %}">
              <i class="nav-icon fas fa-comment-alt"></i>
              <p>
                Student Feedback
              </p>
            </a>
          </li>
        </ul>
      </li>
      
    
      
      
    
      

    

          <li class="nav-item">
            {% url 'student_enquiries' as student_enquiries %}
          <a href="{% url 'student_enquiries' %}" class="nav-link {% if request.path == student_enquiries %} active {% endif %}">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>
              Student Enquiries
            </p>
          </a>
        </li>
     
      

      
       
         
          
          <li class="nav-item">
            {% url 'admin_send_notification_student' as admin_send_notification_student %}
             <a href="{% url 'admin_send_notification_student' %}" class="nav-link {% if request.path == admin_send_notification_student %} active {% endif %}">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Send Student Notification
              </p>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </aside>
 

  <style>
    .submenu {
      margin-left: 20px; 
    }
  

  </style>

  <script>
    // JavaScript to keep submenu open when item is selected
    document.addEventListener("DOMContentLoaded", function() {
      var submenuItems = document.querySelectorAll('.has-treeview');
      submenuItems.forEach(function(item) {
        var submenu = item.querySelector('.submenu');
        var isActive = submenu.querySelector('.active');
        if (isActive) {
          item.classList.add('menu-open');
          submenu.style.display = 'block';
        }
      });
    });
  </script>