{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-image: url('{% static 'dist/img/2.jpg' %}'); background-size: cover;opacity:0.9" >

    <div class="sidebar" >

     

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            {% url 'student_home' as student_home %}
            <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'about_us' as about_us %}
            <a href="{{ about_us }}" class="nav-link {% if '/about_us' in request.path or request.path == '/about_us' %} active {% endif %}">
              <i class="nav-icon fas fa-info-circle"></i>
              <p>
                About
              </p>
            </a>
          </li>

          
          <li class="nav-item">
            {% url 'course_template' as course_template %}
            <a href="{{ course_template }}" class="nav-link {% if '/course_template' in request.path or request.path == '/course_template' %} active {% endif %}">
              <i class="fas fa-book nav-icon"></i>
              <p>
                Course
              </p>
            </a>
          </li>

          
          
          <li class="nav-item">
            {% url 'contact_us' as contact_us %}
            <a href="{{ contact_us }}" class="nav-link {% if '/contact_us' in request.path or request.path == '/contact_us' %} active {% endif %}">
              <i class="nav-icon fas fa-address-book"></i>
              <p>
                Contact
              </p>
            </a>
          </li>
         
          <li class="nav-item">
            {% url 'student_feedback' as student_feedback %}
            <a href="{{ student_feedback }}" class="nav-link {% if request.path == student_feedback %} active {% endif %}">
              <i class="nav-icon fas fa-comment-alt"></i>
              <p>
                Feedback Message
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            {% url 'student_all_notification' as student_all_notification %}
            <a href="{{ student_all_notification }}" class="nav-link {% if request.path == student_all_notification %} active {% endif %}">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                Notifications
              </p>
            </a>
          </li>

        </ul>
      </nav>

    </div>
    
  </aside>