{% extends 'student_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
<section class="content mt-3">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ total_notification_student }}</h3>
                        <p>Total Notification</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="{% url 'student_all_notification' %}" class="small-box-footer">Manage <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
 
            <div class="col-lg-4 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{ total_course }}</h3>
                        <p>Total Course</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="{% url 'course_template' %}" class="small-box-footer">Manage <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-4 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ total_module_enrolled }}</h3>
                        <p>Module Enrolled</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="{% url 'course_template' %}" class="small-box-footer">Manage <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Notification</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="pieChartStudents" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Total Courses and Module Enrolled</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="barChartCoursesModules" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}
{% block custom_js %}

<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "YOUR_API_KEY",
        authDomain: "FIREBASE_AUTH_URL",
        databaseURL: "FIREBASE_DATABASE_URL",
        projectId: "FIREBASE_PROJECT_ID",
        storageBucket: "FIREBASE_STORAGE_BUCKET_URL",
        messagingSenderId: "FIREBASE_SENDER_ID",
        appId: "FIREBASE_APP_ID",
        measurementId: "FIREBASE_MEASUREMENT_ID"
    };
    firebase.initializeApp(firebaseConfig);
    const messaging=firebase.messaging();

    function IntitalizeFireBaseMessaging() {
        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification Permission");
                return messaging.getToken();
            })
            .then(function (token) {
                console.log("Token : "+token);
                sendToServer(token);
            })
            .catch(function (reason) {
                console.log(reason);
            });
    }

    messaging.onMessage(function (payload) {
        console.log(payload);
        const notificationOption={
            body:payload.notification.body,
            icon:payload.notification.icon
        };

        if(Notification.permission==="granted"){
            var notification=new Notification(payload.notification.title,notificationOption);

            notification.onclick=function (ev) {
                ev.preventDefault();
                window.open(payload.notification.click_action,'_blank');
                notification.close();
            }
        }

    });
    messaging.onTokenRefresh(function () {
        messaging.getToken()
            .then(function (newtoken) {
                console.log("New Token : "+ newtoken);
                sendToServer(newtoken);
            })
            .catch(function (reason) {
                console.log(reason);
            })
    });

    function sendToServer(token){
         $.ajax({
                url:'{% url 'student_fcmtoken_save' %}',
                type:'POST',
                data:{token:token},
            })
            .done(function(response){
                if(response=="True"){
                    console.log("Token Save")
                }
                else{
                    console.log("Error in Token Save")
                }
            });
    }
    IntitalizeFireBaseMessaging();


    $(document).ready(function(){
        var donutDataStudents = {
            labels: ['Notification'],
            datasets: [
                {
                    data: [{{ total_notification_student }}], 
                    backgroundColor : ['#00a65a'],
                }
            ]
        };
    
        var pieChartCanvasStudents = $('#pieChartStudents').get(0).getContext('2d');
        var pieDataStudents = donutDataStudents;
        var pieOptionsStudents = {
            maintainAspectRatio: false,
            responsive: true,
        };
    
        var pieChartStudents = new Chart(pieChartCanvasStudents, {
            type: 'pie',
            data: pieDataStudents,
            options: pieOptionsStudents
        });
    
       var barChartDataCoursesModules = {
    labels: ['Total Courses', 'Module Enrolled'],
    datasets: [
        {
            label: 'Courses and Module Enrolled',
            backgroundColor: ['#f39c12', '#0073b7'],
            data: [{{ total_course }}, {{ total_module_enrolled }}]
        }
    ]
};
    
        var barChartCanvasCoursesModules = $('#barChartCoursesModules').get(0).getContext('2d');
        var barDataCoursesModules = barChartDataCoursesModules;
        var barOptionsCoursesModules = {
            maintainAspectRatio: false,
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true 
                    }
                }]
            }
        };
    
        var barChartCoursesModules = new Chart(barChartCanvasCoursesModules, {
            type: 'bar',
            data: barDataCoursesModules,
            options: barOptionsCoursesModules
        });
    });
    
</script>
{% endblock custom_js %}
